@layer base {
  h1 {
    @apply font-display text-crayola text-4xl
  }

  h2 {
    @apply text-spoon font-display text-3xl
  }

  h3 {
    @apply text-ghost font-display text-2xl
  }

  h4 {
    @apply font-display text-xl border-ghost border-b-2 pb-2
  }

  h5 {
    @apply font-display text-lg text-ghost
  }

  p {
    @apply font-serif text-ghost mt-4
  }

  ul {
    @apply text-ghost list-disc ml-4 mt-2
  }

  td, th {
    @apply text-black text-left text-xs align-top py-2
  }

  th {
    @apply font-black
  }

  tr {
    @apply border-b border-black
  }

  tr:last-child {
    @apply border-0
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@tailwind base;
@tailwind components;
@tailwind utilities;
