@layer base {

  body {
    @apply text-ghost bg-raisin
  }

  h1 {
    @apply font-display text-spoon text-4xl
  }

  h2 {
    @apply text-spoon font-display text-3xl my-2
  }

  h3 {
    @apply text-ghost font-display text-2xl
  }

  h4 {
    @apply font-display text-xl border-ghost border-b pb-2 mb-2
  }

  .h4-moon {
    @apply font-display text-xl border-moonstone border-b pb-2 mb-2 text-moonstone
  }

  .h4-crayola {
    @apply font-display text-xl border-crayola border-b pb-2 mb-2 text-crayola
  }

  h5 {
    @apply font-display text-lg
  }

  h6 {
    @apply font-bold italic
  }

  p {
    @apply font-serif mb-3
  }

  button.standard {
    @apply rounded bg-moonstone hover:bg-crayola-light text-sm text-black font-display px-4 py-2
  }

  a {
    @apply text-crayola
  }

  a:hover {
    @apply text-moonstone
  }

  a.ghosted, a.ghosted:hover, a.ghosted:visited, a.ghosted:active{
    @apply text-black
  }

  .nav-item {
    @apply font-display text-ghost block rounded-lg py-2 pl-6 pr-3 tracking-wide 
  }

  .nav-item:visited {
    @apply text-ghost
  }

  .nav-item:hover, .nav-item:active {
    @apply text-moonstone-dark bg-ghost block rounded-lg
  }

  ul {
    @apply list-disc ml-4 mb-2
  }

  td, th {
    @apply text-ghost text-left text-xs align-top py-2 px-2
  }

  tr {
    @apply border-b border-ghost
  }

  tr:last-child {
    @apply border-0
  }

  .reverse-spoon {
    @apply bg-gradient-to-r to-spoon from-spoon-dark text-ghost w-full p-2
  }

  .reverse-moon {
    @apply bg-gradient-to-r to-moonstone-light from-moonstone text-black w-full p-2
  }

  .reverse-crayola {
    @apply bg-gradient-to-r to-crayola-light from-crayola text-black w-full p-2
  }

  .reverse-ghost {
    @apply bg-gradient-to-r to-raisin from-ghost text-black w-full p-2
  }

  .reverse-raisin {
    @apply bg-gradient-to-r to-ghost from-raisin text-ghost w-full p-2
  }

  .reverse-goldenrod {
    @apply bg-gradient-to-r to-goldenrod from-goldenrod-dark text-ghost w-full p-2
  }

  .class-col-layout {
    @apply md:grid md:grid-flow-col md:gap-8 md:grid-cols-2
  }

  .bg-logo {
    @apply bg-[url('/_next/static/media/new_logo.1aa05d07.png')] bg-center bg-contain bg-no-repeat
  }

}

:root {
  --foreground-rgb: 24, 5, 28;
  --background-start-rgb: 232, 233, 243;
  --background-end-rgb: 232, 233, 243;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 232, 233, 243;
    --background-start-rgb: 24, 5, 28;
    --background-end-rgb: 24, 5, 28;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@tailwind base;
@tailwind components;
@tailwind utilities;
